* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

:root {
  --dark-blue: #00008b;
}

header {
  background: linear-gradient(#087efd, #9fdef9, #ffffff);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.headerText {
  font-family: "Montserrat";
  font-size: 3.9em;
  color: var(--dark-blue);
  margin-top: 225px;
  font-weight: 500;
}

.city_finder {
  font-size: 1.5em;
  border-radius: 20px;
  border: none;
  padding: 10px 20px;
  font-family: "Montserrat";
  font-weight: 500;
  color: var(--dark-blue);
  min-width: 500px;
}

.city_finder:focus {
  outline: 3px solid var(--dark-blue);
}

.inputWrapper {
  margin-top: 20px;
  border-radius: 20px;
  background-color: white;
  border: 1px solid var(--dark-blue);
}

.searchGlassImg {
  width: 20px;
  position: absolute;
  top: 47.75%;
  left: 64%;
}

.temperature_div {
  grid-column: 1 / 4;
  grid-row: 1 / 10;
  border-radius: 10px;
}

.wind_div {
  border-radius: 10px;
  grid-column: 4 / 7;
  grid-row: 1 / 8;
}

.clouds_div {
  grid-column: 4 / 7;
  grid-row: 8 / 13;
  border-radius: 10px;
}

.humidity_div {
  grid-column: 1 / 4;
  grid-row: 10 / 13;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}

.grid_div {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 50px;
  padding: 0 200px 0 200px;
  margin-top: 100px;
}

.weather_in {
  text-align: center;
  margin-top: 100px;
  font-size: 2em;
  font-weight: 300;
}

.hidden {
  opacity: 0;
}

.search_results {
  margin: 0 auto 200px auto;
}

.search_results h3 {
  color: var(--dark-blue);
  font-size: 2em;
  font-weight: 500;
}

.temperature_div,
.wind_div,
.humidity_div,
.clouds_div {
  padding: 10px 20px 0 20px;
  /* border: 1px solid var(--dark-blue); */
}

.actual_temperature {
  margin-top: 25px;
  text-align: center;
  font-size: 10em;
  font-weight: 200;
}

.temperature_side_information {
  margin-top: 10px;
}

.side_information_div {
  margin-top: 25px;
}

.wind_speed {
  margin-top: 25px;
  font-size: 7em;
  font-weight: 200;
}

.wind_direction {
  font-size: 2em;
  margin-top: 10px;
}

.humidity {
  font-size: 3em;
  margin-left: 300px;
}

.humidity_value {
  font-size: 4em;
  margin-left: 50px;
}

.clouds_content_div {
  display: flex;
  align-items: center;
}

.clouds_description_text {
  font-size: 2em;
}

.clouds_icon {
  margin-left: 100px;
  height: 200px;
  margin-top: -100px;
}

.clouds_content_div {
  margin-top: 50px;
}
